{% extends 'symfonyTPCinemaBundle::layout.html.twig' %}


{% block body %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Cinéma</p>
                <div class="list-group">
                    <a href="cinema-films.html" class="list-group-item active">Films</a>
                    <a href="cinema-realisateurs.html" class="list-group-item">Réalisateurs</a>
                </div>
            </div>

            <div class="col-md-9">

                <h2>Liste des films</h2>

                <br/>
                {% for film in films %}
                    <div class="thumbnail">
                        <div class="caption-full">

                            <h4 class="pull-right">{{ film.genre }}</h4>
                            <h4>{{ film.titre }}</h4>
                            <p>{{ film.synopsis }}</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">sorti le {{ film.datedesortie }}</p>
                            <p>Réalisé par : <a href="cinema-films-realisateur.html">James Cameron</a></p>

                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    </body>

    </html>

{% endblock %}